body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}
.clear {
  clear: both;
  content: ""
}

.game {
    max-width: 470px;
    min-width: 470px;
}

.PieceImage {
    max-width: 3vw;
    border: black 2px solid;
    border-radius: 7px;
}

.game-button {
  min-height: 50px;
}

.side {
    margin-top: 7.45vh;
    max-width: 180px;
    min-width: 180px;
}

.cell {
    background: #7b7b7b;
    border: 1px solid #fff;
    float: left;
    line-height: 45px;
    height: 45px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;

    &:focus {
      outline: none;
    }
  }

  .selected {
    background: #fc543c;
  }

    .lake {
        background: dodgerblue;
    }

.cell:focus {
  outline: none;
}

.is-flag,
.is-mine {
  color: #fc543c;
}

Col {
  background-color: lightblue;
}

.player{
    padding: 3vh;
}

.playerContent{
    text-align: center;
}
