body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}
.clear {
  clear: both;
  content: ""
}

.game {
    max-width: 470px;
    min-width: 470px;
}

.grass {
    max-width: 3.7vw;
    border: black 1px solid;
    border-radius: 2px;
}

.PieceImageBig {
    min-width: 12vw;
    border: black 2px solid;
    border-radius: 7px;
}

.home-container{
    margin-top: 8vh !important;
}

.game-button {
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
    text-align: center;
}

.playing-player{
    margin-top: 6vh !important;
    text-align: center;
}

.stratego-title {
    margin-top: 5vh !important;
    max-width: 50vw;
    border-radius: 3px;
}

.side {
    margin-top: 24.45vh;
    max-width: 20vw;
    min-width: 20vw;
}

.cell {
    float: left;
    height: 45px;
    width: 45px;
    cursor: pointer;
}


.selected {
    background: #fc543c !important;
}


.cell:focus {
  outline: none;
}


.cellPiece {
    background: #838229;
    border: 1px solid black;
    float: left;
    line-height: 42px;
    height: 45px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.tile {
    background: gray;
    border: 1px solid black;
    float: left;
    line-height: 42px;
    border-radius: 7px;
    height: 45px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    margin: 0.13vw;
}

.PieceImage {
    max-width: 3.1vw;
    /*border: black 1px solid;*/
    border-radius: 5px;
}

.lake {
    background: dodgerblue;
}

.is-flag,
.is-mine {
  color: #fc543c;
}

Col {
  background-color: lightblue;
}

.player{
    padding: 3vh;
}

.playerContent{
    text-align: center;
}

.rotateBoard {
    margin-top: 70vh;
    transform-origin: center !important;
    transform: rotate(180deg) !important;
}

.rotate {
    transform: rotate(180deg) !important;
}

.modalCustom {
    min-height: 50vh;
    max-height: 50vh;
    min-width: 50vw;
    max-width: 50vw;
}

.modalContent {
    margin-top: 31% !important;
    margin-left: 55% !important;
}

.player-section {
    margin-top: 35vh !important;
}

